option_settings:
  - namespace: aws:elasticbeanstalk:customoption
    option_name: AWS_S3_EB_BUCKET_NAME
    value:
      "Fn::Join":
        - ""
        - - "elasticbeanstalk-"
          - "Ref": "AWS::Region"
          - "-"
          - "Ref": "AWS::AccountId"
  - namespace: aws:elasticbeanstalk:customoption
    option_name: AWS_S3_EB_BUCKET_URL
    value:
      "Fn::Join":
        - ""
        - - "https://s3."
          - "Ref": "AWS::Region"
          - "."
          - "Ref": "AWS::URLSuffix"
          - "/"
          - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:customoption"
              OptionName: "AWS_S3_EB_BUCKET_NAME"
              DefaultValue: ""
          - "/"
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: "S3"
          roleName:
            "Fn::GetOptionSetting":
              Namespace: "aws:autoscaling:launchconfiguration"
              OptionName: "IamInstanceProfile"
              DefaultValue: "aws-elasticbeanstalk-ec2-role"
          buckets:
            - "Fn::GetOptionSetting":
                Namespace: "aws:elasticbeanstalk:customoption"
                OptionName: "AWS_S3_EB_BUCKET_NAME"
                DefaultValue: ""
files:
  # certificate
  "/etc/pki/tls/certs/server.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Access"
    source:
      "Fn::Join":
        - ""
        - - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:customoption"
              OptionName: "AWS_S3_EB_BUCKET_URL"
              DefaultValue: ""
          - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "AWS_S3_EB_BUCKET_CERT_KEY"
              DefaultValue: "certs/server.crt"
  # private key
  "/etc/pki/tls/certs/server.key":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Access"
    source:
      "Fn::Join":
        - ""
        - - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:customoption"
              OptionName: "AWS_S3_EB_BUCKET_URL"
              DefaultValue: ""
          - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "AWS_S3_EB_BUCKET_PRIVKEY_KEY"
              DefaultValue: "certs/server.key"
  # intermediate certificate
  "/etc/pki/tls/certs/intermediate.crt":
    mode: "000400"
    owner: root
    group: root
    authentication: "S3Access"
    source:
      "Fn::Join":
        - ""
        - - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:customoption"
              OptionName: "AWS_S3_EB_BUCKET_URL"
              DefaultValue: ""
          - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "AWS_S3_EB_BUCKET_CABUNDLE_KEY"
              DefaultValue: "certs/intermediate.crt"
  # Firebase credentials
  "/home/wsgi/.firebase_credentials":
    mode: "000444"
    owner: root
    group: root
    authentication: "S3Access"
    source:
      "Fn::Join":
        - ""
        - - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:customoption"
              OptionName: "AWS_S3_EB_BUCKET_URL"
              DefaultValue: ""
          - "Fn::GetOptionSetting":
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "AWS_S3_EB_BUCKET_FIREBASECERT_KEY"
              DefaultValue: "certs/firebase.json"