option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_DATABASE_URL
    # in order to prevent committing values like API keys, secrets etc. to source control,
    # use placeholder values here and change them later in the Elastic Beanstalk console
    value:  placeholder
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name:  AWS_S3_MEDIA_BUCKET_NAME
    value:  placeholder