Resources:
  s3AccessPolicy:
    Type: AWS::IAM::Policy
    Properties:
      PolicyName: AmazonS3LimitedAccessToMediaBucket
      PolicyDocument:
        Version: "2012-10-17"
        Statement:
        - Effect: Allow
          Action:
          - s3:PutObject
          - s3:GetObject
          - s3:DeleteObject
          - s3:GetBucketLocation
          Resource:
          - "Fn::Join":
              - ""
              - - "arn:aws:s3:::"
                - "Fn::GetOptionSetting":
                    Namespace: "aws:elasticbeanstalk:application:environment"
                    OptionName: "AWS_S3_MEDIA_BUCKET_NAME"
                    DefaultValue: "media"
          - "Fn::Join":
              - ""
              - - "arn:aws:s3:::"
                - "Fn::GetOptionSetting":
                    Namespace: "aws:elasticbeanstalk:application:environment"
                    OptionName: "AWS_S3_MEDIA_BUCKET_NAME"
                    DefaultValue: "media"
                - "/*"
      Roles:
      - "Fn::GetOptionSetting":
          Namespace: "aws:autoscaling:launchconfiguration"
          OptionName: "IamInstanceProfile"
          DefaultValue: "aws-elasticbeanstalk-ec2-role"