files:
  "/etc/httpd/conf.d/http-redirect.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      # In case of an Elastic Load Balancing health check,
      # a healthy instance is expected to respond with HTTP 200 (OK)
      # to the HTTP health check message. As such, these messages
      # shouldn't be redirected to HTTPS.
      <Location "/">
          <If "%{HTTPS} == 'off' && %{HTTP:X-Forwarded-Proto} != 'https' && %{HTTP_USER_AGENT} !~ /HealthCheck/">
              Redirect 307 "https://%{HTTP_HOST}%{REQUEST_URI}"
          </If>
      </Location>
